<mat-sidenav-container style="height: 100%;">
    <mat-sidenav style="padding: 16px; width: fit-content;" color="primary" #drawer mode="over" [opened]="sidebarVisibility">
        <app-unit></app-unit>
    </mat-sidenav>
    <mat-sidenav-content style="flex: 1;">
        <button class="menu-button" mat-icon-button (click)="changeSidebarVisibility()">
            <mat-icon color="accent">menu</mat-icon>
        </button>
        <mat-form-field appearance="outline" class="filter-input">
            <mat-label style="display: flex; align-items: center;">
                <mat-icon style="font-size: 30px;">
                    search
                </mat-icon>
                Birim Ara
            </mat-label>
            <input matInput placeholder="Örn. Bilgisayar Mühendisliği" color="accent" [matAutocomplete]="auto" #unit
                [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let unit of filteredStates | async" [value]="unit"
                    (click)="getViewUnit(unit.id)" >{{unit.name}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <a class="logo" [routerLink]="['/login']" title="Oturum Aç">
        </a>
        <div #map class="map">
        </div>
        <div class="basemap-options">
            <div (click)="changeViewMapBase()">
                <img *ngIf="isGoogleVisible" src="assets/ktu-gm-uydu.jpeg" alt="" width="60" height="60">
                <img *ngIf="!isGoogleVisible" src="assets/ktu-osm.jpeg" alt="" width="60" height="60">
            </div>
            
        </div>
        <div class="options">
            <button mat-raised-button>
                <mat-icon>home</mat-icon>
            </button>
            <button mat-raised-button>
                <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button>
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-raised-button>
                <mat-icon>fullscreen</mat-icon>
            </button>
        </div>
        <div class="content-title" *ngIf="unitName !== null">
            <span>{{unitName}}</span>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>