.control-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
    .control-content {
        background-color: #ffffffb3;
        border: 2px solid #888;
        border-radius: 5px;
        width: 21px;
        height: 21px;
        padding: 7px;
        color: rgb(114, 114, 114);
        svg {
            fill: #555;
        }
        &:hover {
            border:2px solid #7db4e9;
            cursor: pointer;
            svg {
                fill: #7db4e9;
            }
        }

    }

    
}

.control-content:nth-child(n+1) {
    margin-bottom: 8px;
}

.control-content:last-child {
    margin-bottom: 0;
}