.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    .title {
        font-size: 18px;
        font-weight: 600;
        color: #777;
    }
    .row {
        display: flex;
        align-items: center;
        span {
            margin-right: 8px;
        }
    }
}