<mat-card class="tool">
    <mat-card-content>
        <ng-container *ngIf="currentMapState === MapState.DEFAULT">
            <!-- <button mat-raised-button color="accent" title="Birim Seç" (click)="selectUnit()">
                <mat-icon>touch_app</mat-icon>
            </button> -->
            <button mat-raised-button color="accent" title="Yeni Birim Çiz" (click)="startDraw()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button color="accent" title="Birim Düzenle" (click)="editUnit()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="accent" title="Birim Sil" (click)="deleteUnit()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-raised-button color="accent" title="Çıkış Yap" (click)="logout()">
                <mat-icon>input</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="currentMapState === MapState.DRAW_STARTED">
            <button mat-raised-button color="accent" title="Onay" (click)="saveDraw()">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-raised-button color="accent" title="İptal" (click)="changeState(MapState.DEFAULT)">
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>
    </mat-card-content>
</mat-card>
